# Compilation results
.deps
*.a
*.o
*.d
lplex

# Backup files
*~
\#*\#

# Autotools generated
Makefile
Makefile.in
stamp-h1
m4
autom4te.cache
config.status
config.log
config.h
config.h.in
configure

# Autootols added
aclocal.m4
config.guess
config.sub
depcomp
install-sh
missing

